<app-gym-nav></app-gym-nav>
<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-container inner-3">
    <a class="breadcrumb-back btn btn-secondary" href="/wiki">
        <i class="fa fa-angle-left m-r-10" aria-hidden="true"></i>
        Brands
    </a>
    <h2 class="breadcrumb-txt">DHS</h2>
</section>
<!-- Breadcrumb end -->

<!-- section start -->
<section class="agency blog-sec blog-sidebar single_blog_item">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="blog-block m-b-20">
                    <div class="blog-box">
                        <div class="overflow-hidden">
                            <!-- <img class="img-fluid blur-up lazyload " src="assets/images/wiki/DHS.jpg" alt="blog"> -->
                        </div>
                    </div>
                </div>
                <div class="blog-text mb-4">
                    <h1 class="mb-4">DHS - Double Happiness</h1>
                    <p>
                        Double Happiness, or DHS, is a Chinese brand that is the largest table tennis equipment manufacturer in China. It is renowned for its rubbers and balls, which are used by many Chinese national team players.
                    </p>
                </div>
                <div class="blog-text">
                    <h3 class="blog-head" id="rubbers">DHS Rubbers</h3>
                    <div class="blog-divider"></div>
                    <div class="blog-description">
                        <p>DHS rubbers have different characteristics and categories, depending on the type, thickness, and hardness of the top sheet and the sponge. </p>

                        <ng-container *ngFor="let rubber of rubbers">
                            <h4 class="mb-2">{{rubber.title}}</h4>
                            <p>{{rubber.description}}</p>
                            
                            <table class="table">
                                <tr>
                                  <th>Speed</th>
                                  <th>Spin</th>
                                  <th>Control</th>
                                  <th>Hardness</th>
                                </tr>
                                <tr>
                                  <td>{{rubber.speed}}</td>
                                  <td>{{rubber.spin}}</td>
                                  <td>{{rubber.control}}</td>
                                  <td>{{rubber.hardness}}</td>
                                </tr>
                              </table>
                        </ng-container>
                    </div>
                </div>
                <div class="blog-text mt-5">
                    <h3 class="blog-head" id="blades">DHS Blades</h3>
                    <div class="blog-divider"></div>
                    <div class="blog-description">
                        <p>
                            DHS blades are made of various materials and have different characteristics and categories, depending on the type, thickness, and hardness of the wood and the composite layers.
                        </p>
                        
                        <ng-container *ngFor="let blade of blades">
                            <h4 class="mb-2">{{blade.title}}</h4>
                            <p>{{blade.description}}</p>
                            
                            <table class="table">
                                <tr>
                                  <th>Speed</th>
                                  <th>Control</th>
                                  <th>Stiffness</th>
                                  <th>Hardness</th>
                                  <th>Consistency</th>
                                  <th>Weight</th>
                                  <th>Plies</th>
                                  <th>Materials</th>
                                </tr>
                                <tr>
                                  <td>{{blade.speed}}</td>
                                  <td>{{blade.control}}</td>
                                  <td>{{blade.stiffness}}</td>
                                  <td>{{blade.hardness}}</td>
                                  <td>{{blade.consistency}}</td>
                                  <td>{{blade.weight}}</td>
                                  <td>{{blade.plies}}</td>
                                  <td>{{blade.material}}</td>
                                </tr>
                              </table>
                        </ng-container>
                    </div>                
                </div>
                <div class="blog-text mt-5">
                    <h3 class="blog-head" id="balls">DHS Balls</h3>
                    <div class="blog-divider"></div>
                    <div class="blog-description">
                        <p>
                            DHS has various types of balls for different purposes and levels of play.
                        </p>
                        
                        <ng-container *ngFor="let ball of balls">
                            <h4 class="mb-2">{{ball.title}}</h4>
                            <p>{{ball.description}}</p>
                        </ng-container>
                    </div>                
                </div>
            </div>
            <div class="col-lg-3">
                <div class="blog-side">
                    <div>
                        <h5 class="blog-title">categories</h5>
                        <div class="sidebar-container borders">
                            <ul class="sidebar-list">
                                <li class="d-flex"><a (click)="scrollToElement('rubbers')"> <i class="fa fa-angle-right m-r-15"
                                                                   aria-hidden="true"></i>Rubbers</a></li>
                                <li class="d-flex"><a (click)="scrollToElement('blades')"> <i class="fa fa-angle-right m-r-15"
                                                                   aria-hidden="true"></i>Blades</a></li>
                                <li class="d-flex"><a (click)="scrollToElement('balls')"> <i class="fa fa-angle-right m-r-15"
                                                                   aria-hidden="true"></i>Balls</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h5 class="blog-title">Popular Rubbers</h5>
                        <div class="sidebar-container">
                            <div class="post-container d-flex">
                                <div class="w-35 m-r-10">
                                    <img src="assets/images/wiki/dhs/hurricane-3.png" alt="" class="img-fluid">
                                </div>
                                <div class="w-65">
                                    <h5 class="post-head pt-0">DHS Hurricane 3</h5>
                                    <h6 class="date">Create fast and control on the ball.</h6>
                                </div>
                            </div>
                            <div class="post-container d-flex">
                                <div class="w-35 m-r-10">
                                    <img src="assets/images/wiki/dhs/hurricane-3-neo.png" alt="" class="img-fluid">
                                </div>
                                <div class="w-65">
                                    <h5 class="post-head pt-0">DHS Hurricane 3 Neo</h5>
                                    <h6 class="date">Create fast and consistent shots.</h6>
                                </div>
                            </div>
                            <div class="post-container d-flex">
                                <div class="w-35 m-r-10">
                                    <img src="assets/images/wiki/dhs/hurricane-gold-arc-8.png" alt="" class="img-fluid">
                                </div>
                                <div class="w-65">
                                    <h5 class="post-head pt-0">DHS Gold Arc 8</h5>
                                    <h6 class="date">Generate powerful and spinny shots.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="blog-title">Popular Blades</h5>
                        <div class="sidebar-container">
                            <div class="post-container d-flex">
                                <div class="w-35 m-r-10">
                                    <img src="assets/images/wiki/dhs/hurricane-long-5.png" alt="" class="img-fluid">
                                </div>
                                <div class="w-65">
                                    <h5 class="post-head pt-0">DHS Hurricane Long 5</h5>
                                    <h6 class="date">This blade is recognized for its versatility.</h6>
                                </div>
                            </div>
                            <div class="post-container d-flex">
                                <div class="w-35 m-r-10">
                                    <img src="assets/images/wiki/dhs/hurricane-301.png" alt="" class="img-fluid">
                                </div>
                                <div class="w-65">
                                    <h5 class="post-head pt-0">DHS Hurricane 301</h5>
                                    <h6 class="date">Provides good balance of speed & control.</h6>
                                </div>
                            </div>
                            <div class="post-container d-flex">
                                <div class="w-35 m-r-10">
                                    <img src="assets/images/wiki/dhs/power-g7.png" alt="" class="img-fluid">
                                </div>
                                <div class="w-65">
                                    <h5 class="post-head pt-0">DHS Power G7</h5>
                                    <h6 class="date">Renowned for its soft touch and dwell time.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->


<app-gym-footer></app-gym-footer>