<!-- header Start-->
<section class="gym header" id="home">
    <div class="header5-content">
        <div class="gym-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header2.jpg)'}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="center-text justify-content-center">
                            <div class="text-center">
                                <div class="header-text">
                                    <h1><span class="bold-text">ttPlayers</span>&nbsp;Statistics & Ranking</h1>
                                </div>
                                <div class="header-sub-text">
                                    <p class="text-white p-light">A comprehensive statistics about table tennis players in Australia</p>
                                </div>
                                <section class="event subscribe subscribe-3 set-relative p-t-0">
                                    <div class="circle">
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 offset-md-2">
                                                <div class="subscribe">
                                                    <div class="center-content">
                                                        <div class="form-group">
                                                            <div class="flex">
                                                                <input type="text" (keyup.enter)="search()" [(ngModel)]="searchTerm" class="form-control text-capitalize"
                                                                       placeholder="Please Enter a player's name" id="username" name="username">
                                                                <div class="button-primary">
                                                                    <button type="button" (click)="search()"
                                                                            class=" btn btn-default primary-btn text-white text-capitalize">
                                                                        Search
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end-->
