<div class="card" [ngClass]="'player-'+ranking" *ngIf="player && !isMobile" (click)="playerClick(player.Id)">
    <div class="card-body">
        <div class="container p-0">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="mb-2"><img src="assets/images/players/male.png"></div>
                    <div class="no-wrap ranking-name">{{player.FullName}}</div>
                    <div>{{player.State}}</div>
                </div>
                <div class="col--lg-5 col-md-5 text-right">
                    <div class="ranking-number">#{{ranking}}</div>
                    <div>{{rating}}</div>
                    <div class="trpophy" [ngClass]="'trophy-'+ranking">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" [ngClass]="'player-'+ranking" *ngIf="player && isMobile" (click)="playerClick(player.Id)">
    <div class="card-body">
        <div class="d-flex">
            <div class="m-ranking">{{ranking}}</div>
            <div class="name-svg" [innerHTML]="nameInitialSvg"></div>
            <h2 class="full-name">
                {{player.FullName}} 
                <div class="m-state">{{player.State}}</div>
            </h2>
            <div class="m-rating">{{rating}}</div>
            <div class="m-trpophy" [ngClass]="'trophy-'+ranking">
                <i class="fa fa-trophy" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>