<h3 class="page-header-comment mt-5">{{player.FirstName}}'s History</h3>
<div class="comment-list blog_comment" *ngIf="matchesByEvent">
    <div class="comment_sec" *ngFor="let eventId of getEventIds()">
        <article class="row">
            <div class="col-12 p-0">
                <div class="blog_center">
                    <div class="blog_user arrow left">
                        <div class="panel-body">
                            <div class="text-left ml-2 mr-2">
                                <div class="comment-user"><i class="fa fa-calendar"></i>
                                    <h6>{{getEventName(eventId)}}</h6>
                                </div>
                                <div class="comment-date"><i class="fa fa-clock-o"></i>
                                    <h6>{{getEventDate(eventId).toDate() | date:"dd/MM/yyyy"}}</h6>
                                </div>
                            </div>
                            <div class="comment-post">
                                <div class="table-responsive">
                                    <table class="table table-borderless" *ngFor="let match of matchesByEvent[eventId]">
                                        <thead>
                                            <th width="60%"></th>
                                            <th width="5%"></th>
                                            <th width="5%" class="score-cell"></th>
                                            <th width="5%" class="score-cell"></th>
                                            <th width="5%" class="score-cell"></th>
                                            <th width="5%" class="score-cell"></th>
                                            <th width="5%" class="score-cell"></th>
                                            <th width="5%" class="score-cell"></th>
                                            <th width="5%" class="score-cell"></th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="match-player" [ngClass]="getPlayerWinnerClass(match)">
                                                    <i class="fa fa-user m-r-10" ></i>
                                                    {{player.FullName}} 
                                                    <span class="badge badge-danger">{{getPlayerPointChange(match)}}</span>
                                                </td>
                                                <td class="match-set-wins" [ngClass]="getPlayerWinnerClass(match)"><span class="badge bg-secondary set-wins">{{getPlayerSetWins(match)}}</span></td>
                                                <td class="text-center set-scores" *ngFor="let score of getPlayerSetScores(match)">
                                                    {{score>=0?score:"-"}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="match-player" [ngClass]="getOpponentWinnerClass(match)">
                                                    <i class="fa fa-user m-r-10" ></i>
                                                    <a href="/player/{{getMatchOpponentPlayerId(match)}}/{{getOpponentNameSlug(match)}}">{{getMatchOpponentPlayerName(match)}}</a> ({{getOpponentRating(match)}}) 
                                                    <span class="badge badge-danger">{{getOpponentPointChange(match)}}</span>
                                                </td>
                                                <td class="match-set-wins" [ngClass]="getOpponentWinnerClass(match)"><span class="badge bg-secondary set-wins">{{getOpponentSetWins(match)}}</span></td>
                                                <td class="text-center set-scores" *ngFor="let score of getOpponentSetScores(match)">
                                                    {{score>=0?score:"-"}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

