.table-borderless {
    border: none;
  }

.win {
    color:#357fef;

    span{
        background-color: #007bff !important;
    }
}

.set-wins {
    font-size:1.5em;
    font-weight: 600;
    width:100%;
    color:#fff;
}

.set-scores {
    vertical-align: middle;
    padding:0.25em;
}

.match-player {
    a{
        text-decoration: underline;
    }
}

.blog_user {
    margin-left: 0px !important;
}

.comment-user {
    h6{
        line-height: inherit !important;
    }
    
    overflow: hidden;
}

@media only screen and (max-width: 575px) {
    .match-player {
        i{
            display:none;
        }
    }
}