
.breadcrumb-section-main {
    padding:30px;
}

.blue-text {
    color: rgba(65, 163, 255, 1) !important;
}

.red-text {
    color:#e3154f !important;
}

h1 span{
    font-size:0.7em;
}

h5{
    small{
        font-size: 0.7em;
    }
}

.border-around {
    border: 13px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 10px #e2e2e2;
    box-shadow: 0 0 10px #2691f7;
    height: 150px;
    width: 150px;
    margin:0 auto;
}

.blue {
    box-shadow: 0 0 20px #2691f7;
}

.red {
    box-shadow: 0 0 20px #e3154f;
}

#gender-ico{
    font-size:0.8em;
}

.portfolio-left {
    width:50% !important;
}

.portfolio-right {
    width:50% !important;
}

.counter-img {
    font-size:1.8em;
    color:#357fef;
    font-weight: 500;
}

.init-img {
    width:100px;
    height:150px;
    position:relative;
    left:12px;
    top:15px;
    font-weight: 400;
    font-size:60px;    
    display: inline-block;
    align-items: center; /* Vertical centering */
    text-align: center;
    justify-content: center; /* Horizontal centering */
}

.division-number {
    font-size:1.2em;
    padding:10px 25px;
}

.rc-id {
    font-size:0.5em !important;
    padding-left:10px;
}

.btn-sm {
    i {
        width:14px;
    }
}

@media only screen and (max-width: 575px) {
    .border-around {
        display:none;
    }
}