<app-gym-nav></app-gym-nav>

<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <div>
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="/players/{{keyword}}"><i class="fa fa-angle-double-right"></i> players</a></li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="breadcrumb-txt">{{player?.FullName??""}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb end -->

<!-- section start -->
<section class="agency blog-sec blog-sidebar single_blog_item pt-4" *ngIf="player">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="portfolio-detail" *ngIf="player">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 p-0 m-0 text-right">
                                            <button class="btn btn-sm m-r-10" [ngClass]="{'btn-outline-danger': friend!=null, 'btn-outline-secondary': friend == null}" (click)="action_friend(content)">
                                                <i class="fa" [ngClass]="{'fa-heart': friend!=null, 'fa-heart-o': friend == null}"></i>
                                            </button>
                                            <button class="btn btn-sm" [ngClass]="{'btn-outline-purple': competitor!=null, 'btn-outline-secondary': competitor == null}" (click)="action_competitor(content)">
                                                <i class="fa fa-shield"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-12 p-0 m-0">
                                            <div class="d-flex">
                                                <div class="name-svg" [innerHTML]="nameInitialSvg"></div>
                                                <h1 class="full-name">{{player.FullName}}</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <app-player-detail-basic-info [player]="player"></app-player-detail-basic-info>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Overall Statistics -->
                <app-player-total-counter [player]="player"></app-player-total-counter>

                <!-- Summary -->
                <app-player-summary [player]="player" [stats]="stats"></app-player-summary>

                <!-- Winning Rate -->
                <app-player-win-rate [player]="player" [stats]="stats"></app-player-win-rate>

                <!-- Rankings -->
                <app-player-ranking [player]="player" [stats]="stats"></app-player-ranking>

                <!-- Match summary -->
                <app-player-match [player]="player"></app-player-match>

                <!-- Opponents -->
                <app-player-opponent [player]="player"></app-player-opponent>

                <!-- Sets insights -->
                <app-player-sets-statistics [player]="player"></app-player-sets-statistics>

                <!-- Comment Sec Start -->
                <app-player-history [player]="player" [matchesByEvent]="matchesByEvent" *ngIf="matchesByEvent"></app-player-history>
                <!-- Comment Sec End -->
                
                <div class="text-center" *ngIf="lastMatch">
                    <a (click)="loadMoreMatches()" class="btn btn-default btn-white btn-sm">Load more</a>
                </div>

            </div>
            <div class="col-lg-3">
                <!-- Side bar -->
                <div class="blog-side">
                    <div *ngIf="player.Division > 0">
                        <h5 class="blog-title">Division</h5>
                        <div class="sidebar-container borders">
                            <h3><span class="badge rounded-pill bg-primary division-number text-white">{{getDivision(player)}}</span></h3>
                        </div>
                    </div>

                    <div *ngIf="player.Team">
                        <h5 class="blog-title">Team</h5>
                        <div class="sidebar-container borders">
                            <ul>
                                <li *ngFor="let team of player.Team">
                                    <i class="fa fa-users m-r-10" aria-hidden="true"></i>{{team}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="player.Team && teamPlayers">
                        <app-team-players [teamPlayers]="teamPlayers"></app-team-players>
                    </div>
                    <div *ngIf="club">
                        <app-club-detail [club]="club"></app-club-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->


<app-gym-footer></app-gym-footer>


<!-- Login-popup section start -->
<ng-template #content let-modal>
    <div class="login-modal">
        <div class="modal-header">
            <button aria-label="Close" (click)="modal.dismiss('Cross click')" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <h3 class="m-b-20">Login Required</h3>
            <p>To add players to your friends/competitors list, please log in to your account.</p>
            <a aria-label="Register" class="btn btn-default primary-btn m-t-20" href="/register">register</a>
            <a aria-label="Login" class="btn btn-default primary-btn m-t-20" href="/login">login</a>
        </div>
    </div>
</ng-template>
<!-- Login-popup section end -->
