<app-gym-nav></app-gym-nav>

<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <div>
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="/players/{{keyword}}"><i class="fa fa-angle-double-right"></i> players</a></li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="breadcrumb-txt">{{player?.FullName??""}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb end -->

<!-- section start -->
<section class="agency blog-sec blog-sidebar single_blog_item pt-4" *ngIf="player">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="border-around overflow-hide m-auto">
                                <div class="set-relative overflow-hide">
                                    <div class="text-center init-img">{{toInitials(player)}}</div>
                                    <!-- <img src="assets/images/gym/1.png" alt="" class="img-fluid team"> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="portfolio-detail" *ngIf="player">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-9 p-0 m-0">
                                            <h1>{{player.FullName}}<span class="p-l-10 rc-id">(RC ID:{{player.Id}})</span></h1>
                                        </div>
                                        <div class="col-3 p-0 m-0 text-right">
                                            <button class="btn btn-outline-danger btn-sm">
                                                <i class="fa fa-heart"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6 p-0">
                                            <div class="detail-container d-flex p-t-0 mt-2">
                                                <div class="portfolio-left">
                                                  <h5 class="text-left">Gender :</h5>
                                                </div>
                                                <div class="portfolio-right">
                                                  <h5><i id="gender-ico" class="fa m-r-10" aria-hidden="true" [ngClass]="{'blue-text fa-male': player.Gender == 'M', 'red-text fa-female': player.Gender == 'F'}"></i> {{player.Gender}}</h5>
                                                </div>
                                              </div>
                                              <div class="detail-container d-flex">
                                                <div class="portfolio-left">
                                                  <h5 class="text-left">State :</h5>
                                                </div>
                                                <div class="portfolio-right">
                                                  <h5>{{player.State}}</h5>
                                                </div>
                                              </div>
                                              <div class="detail-container d-flex">
                                                <div class="portfolio-left">
                                                  <h5 class="text-left">Played :</h5>
                                                </div>
                                                <div class="portfolio-right">
                                                  <h5>{{totalPlayedTime(player)}}</h5>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-6 p-0">
                                            <div class="detail-container d-flex p-t-0 mt-2">
                                                <div class="portfolio-left">
                                                  <h5 class="text-left">Rating :</h5>
                                                </div>
                                                <div class="portfolio-right">
                                                  <h5>{{toRating(player)}}</h5>
                                                </div>
                                              </div>
                                              <div class="detail-container d-flex">
                                                <div class="portfolio-left">
                                                  <h5 class="text-left">Ranking :</h5>
                                                </div>
                                                <div class="portfolio-right">
                                                  <h5>{{player.NationalRanking}}</h5>
                                                </div>
                                              </div>
                                              <div class="detail-container d-flex">
                                                <div class="portfolio-left">
                                                  <h5 class="text-left">Win Rate :</h5>
                                                </div>
                                                <div class="portfolio-right">
                                                  <h5>{{player.TotalWins / player.TotalPlayedMatches | percent }}</h5>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Overall Statistics -->
                <app-player-total-counter [player]="player"></app-player-total-counter>

                <!-- Summary -->
                <app-player-summary [player]="player"></app-player-summary>

                <!-- Sets insights -->
                <app-player-sets-statistics [player]="player"></app-player-sets-statistics>

                <!-- Comment Sec Start -->
                <app-player-history [player]="player" [matchesByEvent]="matchesByEvent"></app-player-history>
                <!-- Comment Sec End -->
                
            </div>
            <div class="col-lg-3">
                <!-- Side bar -->
                <div class="blog-side">
                    <div *ngIf="player.Division > 0">
                        <h5 class="blog-title">Division</h5>
                        <div class="sidebar-container borders">
                            <h3><span class="badge rounded-pill bg-primary division-number text-white p-25">{{getDivision(player)}}</span></h3>
                        </div>
                    </div>

                    <div *ngIf="player.Team">
                        <h5 class="blog-title">Team</h5>
                        <div class="sidebar-container borders">
                            <ul>
                                <li *ngFor="let team of player.Team">
                                    <i class="fa fa-users m-r-10" aria-hidden="true"></i>{{team}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="player.Team && teamPlayers">
                        <app-team-players [teamPlayers]="teamPlayers"></app-team-players>
                    </div>
                    <div *ngIf="club">
                        <app-club-detail [club]="club"></app-club-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->


<app-gym-footer></app-gym-footer>
