<div class="form-group mb-4">
    <ng-template #rt let-r="result" let-t="term">
        <i id="gender-ico" class="fa m-r-10" aria-hidden="true" [ngClass]="{'blue-text fa-male': r.Gender == 'M', 'red-text fa-female': r.Gender == 'F'}"></i>
        <ngb-highlight [result]="r.Label" [term]="t" class="m-r-10"></ngb-highlight>
        <span class="m-r-10">{{r.Rating}}±{{r.StDev}}</span>
        <span class="badge bg-dark state-badge">{{r.State}}</span>
    </ng-template>
    <input type="text" class="form-control" placeholder="Enter Player Name (Last Name + First Name) to Search" name="searchPlayerId"
        [(ngModel)]="playerAutoCompleteModel" 
        [ngbTypeahead]="searchPlayer"
        [resultTemplate]="rt"
        [inputFormatter]="searchPlayerFormatter"
        (blur)="onInputBlur()"
        >
</div>
