.portfolio-left {
    width:60% !important;
    color:#252525;
}

.portfolio-right {
    width:40% !important;

    span{
        display:inline-block;
    }
}

.tiny {
    font-size:0.8em;
}

.blue-text {
    color: rgba(65, 163, 255, 1) !important;
}

.red-text {
    color:#e3154f !important;
}

.detail-link {
    font-size:0.9em !important;
    font-weight: normal;
    color:#007bff;
    text-decoration: underline;
}