<div class="row">
    <div class="col-6 p-0">
        <div class="detail-container d-flex p-t-0 mt-2">
            <div class="portfolio-left">
              <h5 class="text-left">Gender:</h5>
            </div>
            <div class="portfolio-right">
              <h5><i id="gender-ico" class="fa m-r-10" aria-hidden="true" [ngClass]="{'blue-text fa-male': player.Gender == 'M', 'red-text fa-female': player.Gender == 'F'}"></i> {{player.Gender}}</h5>
            </div>
          </div>
          <div class="detail-container d-flex">
            <div class="portfolio-left">
              <h5 class="text-left">State:</h5>
            </div>
            <div class="portfolio-right">
              <h5>{{player.State}}</h5>
            </div>
          </div>
          <div class="detail-container d-flex">
            <div class="portfolio-left">
              <h5 class="text-left">Played:</h5>
            </div>
            <div class="portfolio-right">
              <h5>
                <span *ngIf="time.year>0">{{time.year}}</span><span *ngIf="time.year>0" class="tiny">Yr</span>
                <span *ngIf="time.year>0 && time.month>0">, </span>
                <span *ngIf="time.month>0" class="m-l-10">{{time.month}}</span><span *ngIf="time.month>0" class="tiny">M</span>
                <!-- {{totalPlayedTime(player)}} -->
              </h5>
            </div>
          </div>
    </div>
    <div class="col-6 p-0">
        <div class="detail-container d-flex p-t-0 mt-2">
            <div class="portfolio-left">
              <h5 class="text-left">Rating:</h5>
            </div>
            <div class="portfolio-right">
              <h5>{{toRating(player)}}</h5>
            </div>
          </div>
          <div class="detail-container d-flex">
            <div class="portfolio-left">
              <h5 class="text-left">Ranking:</h5>
            </div>
            <div class="portfolio-right">
              <h5>{{player.NationalGenderRanking>0?player.NationalGenderRanking:'--'}} <small *ngIf="player.NationalGenderRanking>0">{{toGenderRanking(player)}}</small></h5>
            </div>
          </div>
          <div class="detail-container d-flex">
            <div class="portfolio-left">
              <h5 class="text-left">Wins <span class="tiny">(YTD)</span>:</h5>
            </div>
            <div class="portfolio-right">
              <h5>{{player.YearToDateWins / (player.YearToDateWins+player.YearToDateLoses) | percent }}</h5>
            </div>
          </div>
    </div>
</div>