<app-gym-nav></app-gym-nav>

<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->


<!-- Breadcrumb -->
<section class="breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <div>
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> rankings</a></li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="breadcrumb-txt">{{displayBreadcrumb()}} Ranking</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb end -->

<div class="container mb-5">
    <div class="row">
        <div class="col-12 text-right">
            <!-- Search by states and Date Ranges -->
            <div class="subscribe mb-2">
                <div class="center-content mt-2">
                    <div class="form-group">
                        <div class="flex search-form">
                            <div class="button-primary btn-gender m-r-10">
                                <div ngbDropdown class="button-select">
                                    <button type="button" class="btn text-capitalize btn-outline-secondary" id="ddGender" ngbDropdownToggle>
                                        {{gender == "M"?"Men":"Women"}}
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="ddGender">
                                        <button ngbDropdownItem (click)="selectGender('M')">Men</button>
                                        <button ngbDropdownItem (click)="selectGender('F')">Women</button>
                                    </div>
                                </div>
                            </div>
                            <div class="button-primary btn-state">
                                <div ngbDropdown class="button-select">
                                    <button type="button" class="btn text-capitalize btn-outline-secondary" id="ddState" ngbDropdownToggle>
                                        {{state?state:"--State--"}}
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="ddState">
                                        <button ngbDropdownItem (click)="selectState('')">--State--</button>
                                        <button ngbDropdownItem (click)="selectState('ACT')">ACT</button>
                                        <button ngbDropdownItem (click)="selectState('NSW')">NSW</button>                                        
                                        <button ngbDropdownItem (click)="selectState('NT')">NT</button>
                                        <button ngbDropdownItem (click)="selectState('QLD')">QLD</button>
                                        <button ngbDropdownItem (click)="selectState('SA')">SA</button>
                                        <button ngbDropdownItem (click)="selectState('TAS')">TAS</button>
                                        <button ngbDropdownItem (click)="selectState('VIC')">VIC</button>
                                        <button ngbDropdownItem (click)="selectState('WA')">WA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary alert-sm" role="alert">
                <i class="fa fa-info-circle m-r-10" aria-hidden="true"></i>We only ranked players who has a standard deviation that is smaller than 100. This is because otherwise their playing strength is relatively uncertain.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-0 p-0"></div>
        <div class="col-xl-6 col-sm-12 p-0">
            <div class="card first-player" *ngIf="player1">
                <div class="card-body">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-7">
                                <div class="mb-2"><img src="assets/images/players/male.png"></div>
                                <div class="no-wrap ranking-name"><a href="/player/{{player1.Id}}">{{player1.FullName}}</a></div>
                                <div>{{player1.State}}</div>
                            </div>
                            <div class="col-5 text-right">
                                <div class="ranking-number">#{{toRanking(player1)}}</div>
                                <div>{{toRating(player1)}}</div>
                                <div class="gold">
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-xl-3 col-sm-0 p-0"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-0 p-0"></div>
        <div class="col-xl-3 col-sm-6 p-0">
            <div class="card second-player" *ngIf="player2">
                <div class="card-body">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-7">
                                <div class="mb-2"><img src="assets/images/players/male.png"></div>
                                <div class="no-wrap ranking-name"><a href="/player/{{player2.Id}}">{{player2.FullName}}</a></div>
                                <div>{{player2.State}}</div>
                                
                            </div>
                            <div class="col-5 text-right">
                                <div class="ranking-number">#{{toRanking(player2)}}</div>
                                <div>{{toRating(player2)}}</div>
                                <div class="silver">
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-xl-3 col-sm-6 p-0">
            <div class="card third-player" *ngIf="player3">
                <div class="card-body">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-7">
                                <div class="mb-2"><img src="assets/images/players/male.png"></div>
                                <div class="no-wrap ranking-name"><a href="/player/{{player3.Id}}">{{player3.FullName}}</a></div>
                                <div>{{player3.State}}</div>
                            </div>
                            <div class="col-5 text-right">
                                <div class="ranking-number">#{{toRanking(player3)}}</div>
                                <div>{{toRating(player3)}}</div>
                                <div class="bronze">
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-xl-3 col-sm-0 p-0"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6 p-0" itemprop="associatedMedia" *ngFor="let player of rankings; let i = index;">
            <div class="card">
                <div class="card-body">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-7">
                                <div class="mb-2"><img src="assets/images/players/male.png"></div>
                                <div class="no-wrap ranking-name"><a href="/player/{{player.Id}}">{{player.FullName}}</a></div>
                                <div>{{player.State}}</div>
                            </div>
                            <div class="col-5 text-right">
                                <div class="ranking-number">#{{toRanking(player)}}</div>
                                <div>{{toRating(player)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="text-center" *ngIf="lastPlayer">
                <a (click)="loadMorePlayers()" class="btn btn-default btn-white btn-sm">Load more</a>
            </div>
        </div>
    </div>    
</div>

<app-gym-footer></app-gym-footer>
