
.breadcrumb-section-main {
    padding:30px;
}

.alert-sm {
    padding:0.25em 0.75em;
    font-size: 0.9em;
}

.btn-gender{
    position: relative;
    display:inline-block;
    top: auto;
    right: auto;
    flex-direction: column;
}

.btn-state {
    position: relative;
    display:inline-block;
    top: auto;
    right: auto;
    flex-direction: column;
}
