<div class="container counter bg-light-inner  pt-3 pl-3 pr-3 mt-4">
    <div class="row">
        <div class="col-12">
            <h4>Ranking</h4>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 p-4">
            <div *ngIf="player.NationalGenderRanking>0" class="player-activity-summary mb-4">
                <strong>{{player.FirstName}}</strong> has ranking of
                <ul class="list-group list-group-flush">
                    <li><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i><strong>{{player.NationalGenderRanking }}</strong> in {{player.Gender=="M"?"Men":"Women"}} of Australia.</li>
                    <li><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>top <strong>{{(100 - nationalRanking) +'%'}}</strong> in {{player.Gender=="M"?"Men":"Women"}} of Australia.</li>
                </ul>
            </div>
            <div class="player-ranking-container" *ngIf="player.NationalGenderRanking>0" >
                <div class="top-label-wrapper">
                    <span [ngStyle]="{ 'left': nationalRanking + '%' }">{{player.FirstName}}</span>
                    <i class="caret-label fa fa-caret-down" aria-hidden="true" [ngStyle]="{ 'left': nationalRanking + '%'  }"></i>
                </div>
                
                <div class="gradient-progress"></div>
            
                <div class="bottom-label-wrapper">
                    <span>#{{totalPlayers}}</span>
                    <span class="text-right">#1</span>
                </div>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="player.NationalGenderRanking<=0" >
                {{player.FirstName}} has a rating of {{player.Rating}}±{{player.StDev}}, and the standard deviation (i.e. ±{{player.StDev}}) is greator than 100. 
                {{player.FirstName}}'s playing strength is relatively uncertain, therefore ranking is not available at the moment.
            </div>
        </div>
        <div class="col-lg-6 col-md-6 p-4">
            <div *ngIf="player.StateGenderRanking>0" class="player-activity-summary mb-4">
                <strong>{{player.FirstName}}</strong> has ranking of
                <ul class="list-group list-group-flush">
                    <li><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i><strong>{{player.StateGenderRanking}}</strong> in {{player.Gender=="M"?"Men":"Women"}} of {{player.State}}.</li>
                    <li><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>top <strong>{{(100 - stateRanking) +'%'}}</strong> in {{player.Gender=="M"?"Men":"Women"}} of {{player.State}}.</li>
                </ul>
            </div>
            <div class="player-ranking-container" *ngIf="player.StateGenderRanking>0">
                <div class="top-label-wrapper">
                    <span [ngStyle]="{ 'left': stateRanking + '%' }">{{player.FirstName}}</span>
                    <i class="caret-label fa fa-caret-down" aria-hidden="true" [ngStyle]="{ 'left': stateRanking  + '%' }"></i>
                </div>
                
                <div class="gradient-progress"></div>
            
                <div class="bottom-label-wrapper">
                    <span>#{{stateTotalPlayers}}</span>
                    <span class="text-right">#1</span>
                </div>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="player.StateGenderRanking<=0" >
                {{player.FirstName}} has a rating of {{player.Rating}}±{{player.StDev}}, and the standard deviation (i.e. ±{{player.StDev}}) is greator than 100. 
                {{player.FirstName}}'s playing strength is relatively uncertain, therefore ranking is not available at the moment.
            </div>
        </div>
    </div>
</div>

