<!-- about section Start-->
<section class="gym format" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center center-content">
                    <div class="about-img">
                        <div class="borders-around">
                            <div>
                                <div class="bg-black"></div>
                            </div>
                            <img src="assets/images/gym/about-us.jpg" alt="" class="img-fluid format-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="font-primary borders-before"><span>Welcome to ttPlayers</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">about us</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="p-light about-para">Welcome to ttPlayers.com.au, your go-to destination for all things table tennis! </p>
                            <p class="p-light about-para">
                                We are passionate about the sport and dedicated to providing a comprehensive hub for table tennis enthusiasts and players. 
                                Our mission is to aggregate and deliver updated competition data, making it easier for players to track their match history and monitor their ratings over time. 
                                </p>
                            <p class="p-light about-para">Join us in celebrating the art of table tennis and unlocking the potential for every player, no matter their level of expertise. 
                                We're here to support and empower the table tennis community on their journey to excellence.</p>
                        </div>
                        <a href="/register" class="btn btn-default primary-btn">Join Us & Discover More Features </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->
