<app-gym-nav></app-gym-nav>
<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-container inner-3">
    <h2 class="breadcrumb-txt">Forgot Password</h2>
</section>
<!-- Breadcrumb end -->

<section class="login-page section-b-space">
  <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h3>Forgot Password</h3>
          <p>Please enter your email address to request a password reset.</p>
          <div class="theme-card">
              <form class="theme-form" [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" placeholder="Email" required="true" formControlName="email">
                  </div>
                  <div>
                    <div class="alert alert-danger" role="alert" *ngIf="errors.length>0">
                        <ul>
                            <li *ngFor="let error of errors" class="field-error">
                                <span class="field-name"><strong >{{error.field}}:</strong></span><span class="field-message">{{error.message}}</span>
                            </li>
                        </ul>    
                    </div>
                  </div>
                  <button class="btn primary-btn btn-default radius-0" type="submit">Forgot Password</button>
              </form>
          </div>
      </div>
    </div>
  </div>
</section>



  
<app-gym-footer></app-gym-footer>