 <div class="blog-side">
    <div *ngIf="statistics">
        <h5 class="blog-title">Players</h5>
        <h6 class="mb-3">Total <strong class="total-counter">{{statistics.TotalPlayerCount}}</strong> players registered.</h6>
        <div class="sidebar-container borders">
            <ul class="sidebar-list">
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i><a href="/players?state=NSW">NSW: {{statistics.StatePlayerCounts.NSW}} Players</a></li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i><a href="/players?state=VIC">VIC: {{statistics.StatePlayerCounts.VIC}} Players</a></li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i><a href="/players?state=QLD">QLD: {{statistics.StatePlayerCounts.QLD}} Players</a></li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i><a href="/players?state=SA">SA: {{statistics.StatePlayerCounts.SA}} Players</a></li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i><a href="/players?state=TAS">TAS: {{statistics.StatePlayerCounts.TAS}} Players</a></li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i><a href="/players?state=WA">WA: {{statistics.StatePlayerCounts.WA}} Players</a></li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i><a href="/players?state=ACT">ACT: {{statistics.StatePlayerCounts.ACT}} Players</a></li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i><a href="/players?state=NT">NT: {{statistics.StatePlayerCounts.NT}} Players</a></li>
            </ul>
        </div>
    </div>
</div>
