 <div class="blog-side">
    <div *ngIf="statistics">
        <h5 class="blog-title">Players</h5>
        <h6 class="mb-3">Total <strong class="total-counter">{{statistics.TotalPlayerCount}}</strong> players registered.</h6>
        <div class="sidebar-container borders">
            <ul class="sidebar-list">
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>NSW: {{statistics.StatePlayerCounts.NSW}} Players</li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>VIC: {{statistics.StatePlayerCounts.VIC}} Players</li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>QLD: {{statistics.StatePlayerCounts.QLD}} Players</li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>SA: {{statistics.StatePlayerCounts.SA}} Players</li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>TAS: {{statistics.StatePlayerCounts.TAS}} Players</li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>WA: {{statistics.StatePlayerCounts.WA}} Players</li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>ACT: {{statistics.StatePlayerCounts.ACT}} Players</li>
                <li class="d-flex"><i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>NT: {{statistics.StatePlayerCounts.NT}} Players</li>
            </ul>
        </div>
    </div>
</div>