<div class="mobile-menu" [ngStyle]="{'background-image': 'url(assets/images/gym/header2.jpg)'}">
    <div class="mobile-menu-item">
        <a href="/players">
            <i class="fa fa-user" aria-hidden="true"></i><br/>
            Players
        </a>
    </div>
    <div class="mobile-menu-item">
        <a href="/rankings">
            <i class="fa fa-bar-chart" aria-hidden="true"></i><br/>
            Rankings
        </a>
    </div>
    <div class="mobile-menu-item">
        <a href="/events">
            <i class="fa fa-calendar" aria-hidden="true"></i><br/>
            Events
        </a>
    </div>
    <div class="mobile-menu-item">
        <a href="/clubs">
            <i class="fa fa-home" aria-hidden="true"></i><br/>
            Clubs
        </a>    
    </div>
    <div class="mobile-menu-item">
        <a href="/dashboard">
            <i class="fa fa-heart" aria-hidden="true"></i><br/>
            Me
        </a>
    </div>
</div>