
.breadcrumb-section-main {
    padding:30px;
}

.btn-sm {
    padding: 7px 17px;
}

.center-text {
    justify-content:left;
}

.button-primary {
    right:1%;
}

.button-select {
    button {
        padding:18px;
    }
}

.text-wrap {
    word-wrap: break-word;
}

.blog-sec {
    min-height: 600px;;
}

@media (max-width: 576px) {
    .subscribe .form-group input, .subscribe .form-group textarea {
        padding-right:0%;
    }
}

@media (max-width: 992px) {
    .subscribe .form-group input, .subscribe .form-group textarea {
        padding-right:40%;
    }

    .button-select {
        button {
            padding:14px;
        }
    }
}
