<!-- opening hours start-->
<section class="gym format bg-cal-bmi" id="bmi" [ngStyle]="{'background-image': 'url(assets/images/gym/bmi-bg.jpg)'}">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class=" center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="borders-before text-white"><span>Opening Hours</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="text-white about-font-header">Opening Hours</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="p-light about-para text-white">Come join us for exciting games and practice sessions during these times!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-8">
                <div class="center-text">
                    <table class="calculate-bmi">
                        <tr *ngFor="let hour of clubSetup.OpeningHours">
                            <td>{{hour}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--opening hours end-->
