<div class="card" [ngClass]="'player-'+rank" [ngClass]="{'highlight': player.Id== yourPlayerId}" *ngIf="player" (click)="playerClick($event)">
    <div class="card-body">
        <div class="d-flex">
            <div class="m-ranking">{{rank}}</div>
            <div class="name-svg" [innerHTML]="nameInitialSvg"></div>
            <h2 class="full-name">
                {{player.FullName}} 
                <div class="m-state">{{player.State}}</div>
            </h2>
            <div class="m-rating">{{rating}}</div>
            <div class="m-win-rate">Win {{player.YearToDateWins / (player.YearToDateWins+player.YearToDateLoses) | percent }}</div>
            <div class="m-remove">
                <a class="red remove-friend" (click)="remove_competitor($event, player)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>