<app-gym-nav></app-gym-nav>
<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <div class="breadcrumb-list">
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="/dashboard"><i class="fa fa-angle-double-right"></i> dashboard</a></li>
                            <li><a><i class="fa fa-angle-double-right"></i> competitors</a></li>
                        </ul>
                    </div>
                    <div class="breadcrumb-title">
                        <h2 class="breadcrumb-txt">Competitors</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb end -->



<app-gym-footer></app-gym-footer>