<app-gym-nav></app-gym-nav>
<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-container inner-3">
    <a class="breadcrumb-back btn btn-secondary" href="/dashboard">
        <i class="fa fa-angle-left m-r-10" aria-hidden="true"></i>
         <i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <h2 class="breadcrumb-txt">Competitors</h2>
</section>
<!-- Breadcrumb end -->

<section class="dashboard-friends-title mt-5">
    <div class="container">
        <div class="row p-0">
            <div class="col-12 p-0">
                <h2><i class="fa fa-shield m-r-10"></i>Competitors List</h2>
                <hr/>
            </div>
        </div>
    </div>
</section>

<div class="col-md-12 empty-cart-cls text-center mt-5 mb-5" *ngIf="showEmptyResult">
    <img src="assets/images/empty-competitors.png" alt="Empty cart" title="No Players Found">
    <h3 class="mt-4"><b>You have no competitors in your list</b></h3>
    <h4>Please try search some players and <br/> click the <i class="fa fa-shield purple"></i> icon on player's page <br/>to add them to your competitors list.</h4>
    <div class="btn-bottom mt-4">
        <a href="/players" class="btn btn-default btn-white">Search Players</a>
    </div>
</div>

<section class="dashboard-friends mb-5" *ngIf="competitorPlayers">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col-12">
                <ng-container *ngFor="let competitorPlayer of competitorPlayers;let i = index;">
                    <app-competitor-detail-tile [player]="competitorPlayer" [rank]="i+1" [yourPlayerId]="this.player?.Id" (removeCompetitor)="remove_competitor($event)"></app-competitor-detail-tile>
                </ng-container>
            </div>
        </div>
    </div>   
</section>

<app-gym-footer></app-gym-footer>