<app-gym-nav></app-gym-nav>


<!-- <app-gym-header></app-gym-header> -->
<!-- <app-gym-about></app-gym-about>
<app-gym-counter></app-gym-counter>
<app-gym-bmi></app-gym-bmi>
<app-gym-brand></app-gym-brand> -->

<app-club-profile-header [club]="club"></app-club-profile-header>


<app-club-profile-about-us [club]="club"></app-club-profile-about-us>

<app-club-profile-players></app-club-profile-players>

<app-club-profile-events></app-club-profile-events>

<app-club-profile-contact-us [club]="club" *ngIf="club"></app-club-profile-contact-us>

<app-gym-footer></app-gym-footer>


