<app-gym-nav></app-gym-nav>

<app-club-profile-header [club]="club"></app-club-profile-header>

<ng-container *ngIf="clubSetup">
    <app-club-profile-about-us [club]="club" [clubSetup]="clubSetup"></app-club-profile-about-us>
</ng-container>

<ng-container *ngIf="clubSetup && clubSetup.OpeningHours">
    <app-opening-hours [club]="club" [clubSetup]="clubSetup"></app-opening-hours>
</ng-container>

<!-- Optional - Pricing -->
<ng-container *ngIf="clubSetup && clubSetup.Prices">
    <app-training-pricing [club]="club" [clubSetup]="clubSetup"></app-training-pricing>
</ng-container>

<!-- Optional - Awards -->
<ng-container *ngIf="clubSetup && clubSetup.Awards">
    <app-club-summary [club]="club" [clubSetup]="clubSetup"></app-club-summary>
</ng-container>

<!-- Optional - Coaches -->
<ng-container *ngIf="clubSetup && clubSetup.Coaches">
    <app-our-coaches [club]="club" [clubSetup]="clubSetup"></app-our-coaches>
</ng-container>

<!-- Optional - Events -->
<ng-container *ngIf="clubSetup && clubSetup.Events">
    <app-club-profile-events [club]="club"></app-club-profile-events>
</ng-container>

<!-- Optional - Players -->
<ng-container *ngIf="clubSetup && clubSetup.Players">
    <app-club-profile-players></app-club-profile-players>
</ng-container>

<!-- <app-club-profile-contact-us [club]="club" *ngIf="club"></app-club-profile-contact-us> -->

<app-gym-footer></app-gym-footer>


