<h5 class="blog-title mb-2">Club</h5>
<div class="sidebar-container borders">
    <h5>{{club.Name}}</h5>
    <hr/>
    <div>
        <strong>Address:</strong><br/>
        {{club.Address1}}, {{club.City}}, {{club.State}} {{club.PostalCode}}
    </div>
    <div>
        <strong>Email:</strong><br/>
        {{club.Email?club.Email:"N/A"}}
    </div>
    <div>
        <strong>Phone:</strong><br/>
        <a *ngIf="club.Phone" href="tel:{{club.Phone}}">{{club.Phone}}</a>
        <span *ngIf="!club.Phone">N/A</span>
    </div>
    <div>
        <strong>Website:</strong><br/>
        <a *ngIf="club.Website" href="{{club.Website}}" target="_blank" rel="nofollow" class="website">{{club.Website.toLowerCase()}}</a>
        <span *ngIf="!club.Website">N/A</span>
    </div>
</div>