<div class="blog-agency">
    <div class="row blog-contain pl-0 pr-0">
        <div class="col-xl-2 col-lg-3 col-md-3 p-0">
            <div class="text-center init-img" [ngClass]="{'blue-bg': player.Gender == 'M', 'red-bg': player.Gender == 'F'}">
                {{toInitials(player)}}
            </div>
        </div>
        <div class="col-xl-10 col-lg-9 col-md-9 p-0">
            <div class="img-container center-content">
                <div>
                    <div class="blog-info">
                        <div class="m-b-20">
                            <div class="center-text">
                                <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>
                                <h6 class="m-r-25 font-blog" ngbTooltip="Last Played Date" triggers="click:blur"><span class="last-played-label">Last Played:&nbsp;</span>{{player.LastPlayed.toDate() | date:"dd/MM/yyyy"}}</h6>                                                        
                                <i class="fa fa-map-marker m-r-10" aria-hidden="true"></i>
                                <h6 class="font-blog m-r-25">{{player.State}}</h6>
                                <i class="fa m-r-10" aria-hidden="true" [ngClass]="{'blue-text fa-male': player.Gender == 'M', 'red-text fa-female': player.Gender == 'F'}"></i>
                                <h6 class="font-blog m-r-25" [ngClass]="{'blue-text': player.Gender == 'M', 'red-text': player.Gender == 'F'}">{{player.Gender}}</h6>
                                <i class="fa fa-list-ol m-r-10" aria-hidden="true" *ngIf="player.Division > 0"></i>
                                <h6 class="font-blog" *ngIf="player.Division > 0">{{toDivision(player)}}</h6>
                            </div>
                        </div>
                        <div class="container-fluid mt-2">
                            <div class="row">
                                <div class="col-xl-8 col-md-9">
                                    <h5 class="blog-head font-600"><span class="m-r-25">{{player.FullName}}</span><span class="text-muted">{{toRating(player)}}</span></h5>
                                </div>
                                <div class="col-xl-4 col-md-3 text-right align-middle rc-id pt-2">
                                    RC ID: {{player.Id}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-6 mb-3">
                                    <h5 class="text-center"><i class="fa fa-trophy m-r-0" aria-hidden="true"></i></h5>
                                    <h4 class="text-center">{{player.TotalWins}}</h4>
                                    <h6 class="text-center">Match Wins</h6>
                                </div>
                                <div class="col-xl-3 col-6 mb-3">
                                    <h5 class="text-center"><i class="fa fa-bar-chart m-r-0" aria-hidden="true"></i></h5>
                                    <h4 class="text-center">{{player.TotalWins / player.TotalPlayedMatches | percent }}</h4> 
                                    <h6 class="text-center">Winning</h6>
                                </div>
                                <div class="col-xl-3 col-6 mb-3">
                                    <h5 class="text-center"><i class="fa fa-list m-r-0" aria-hidden="true"></i></h5>
                                    <h4 class="text-center">{{player.TotalPlayedMatches}}</h4>
                                    <h6 class="text-center">Matches</h6>
                                </div>
                                <div class="col-xl-3 col-6 mb-3">
                                    <h5 class="text-center"><i class="fa fa-calendar-check-o m-r-0" aria-hidden="true"></i></h5>
                                    <h4 class="text-center">{{player.TotalPlayedEvents}}</h4>
                                    <h6 class="text-center">Tournaments</h6>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom">
                            <a href="/player/{{player.Id}}?keyword={{keyword}}&state={{state}}" class="btn btn-default btn-white">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>