<div class="container mt-4" *ngIf="player">
    <div class="row">
        <div class="col-md-6 col-sm-6 service-container">
            <div class="chat-box">
                <div class="feature-content mb-4">
                    <h4 class="service-heading"> Recent Activities
                    </h4>
                    <hr>
                    <div *ngIf="player.PlayedEventsLast6Mth>0" class="player-activity-summary">
                        In last <strong>6</strong> months, {{player.FirstName}} 
                        <ul class="list-group list-group-flush">
                            <li *ngIf="player.PlayedEventsLast6Mth>0"><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>Participated <strong>{{player.PlayedEventsLast6Mth}}</strong> events.</li>
                            <li *ngIf="player.PlayedMatchesLast6Mth>0"><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>played <strong>{{player.PlayedMatchesLast6Mth}}</strong> matches.</li>
                            <li *ngIf="player.MatchWinsLast6Mth>0"><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>won <strong>{{player.MatchWinsLast6Mth}}</strong> matches.</li>
                            <li *ngIf="player.RatingChangesLast6Mth>0"><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>{{player.RatingChangesLast6Mth>0?"gained":"lost"}} <strong>{{player.RatingChangesLast6Mth}}</strong> points.</li>
                        </ul>
                    </div>
                    <div *ngIf="player.PlayedEventsLast6Mth<=0" class="player-activity-summary">
                        In last <strong>6</strong> months, {{player.FirstName}} has been very quiet.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 service-container">
            <div class="chat-box">
                <div class="feature-content mb-4">
                    <h4 class="service-heading"> Experiences
                    </h4>
                    <hr>
                    <div *ngIf="player.TotalPlayedMatches>0" class="player-activity-summary">
                        Since {{startPlayingDate | date:"dd/MM/yyyy"}}, {{player.FirstName}}
                        <ul class="list-group list-group-flush">
                            <li><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>participated <strong>{{player.TotalPlayedEvents}}</strong> events.</li>
                            <li><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>played <strong>{{player.TotalPlayedMatches}}</strong> matches.</li>
                            <li><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i>played against <strong>{{player.TotalOpponentCount}}</strong> different players.</li>
                        </ul>
                    </div>
                    <div *ngIf="player.TotalPlayedMatches<=0" class="player-activity-summary">
                        {{player.FirstName}} has been very quiet since {{startPlayingDate | date:'dd/MM/yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



