<app-gym-nav></app-gym-nav>

<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <div>
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a><i class="fa fa-angle-double-right"></i> players</a></li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="breadcrumb-txt">Australian Players</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb end -->

<!-- section start -->
<section class="agency blog blog-sec blog-sidebar  blog-list sider pt-4">
    <div class="container">
        <div class="row pl-0 pr-0">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-12 blog-sec blog-list" >
                        <div class="subscribe mb-5">
                            <div class="center-content">
                                <div class="form-group">
                                    <div class="flex search-form">
                                        <input type="text" (keyup.enter)="search()" [(ngModel)]="keyword" class="form-control text-capitalize"
                                               placeholder="Please Enter a player's name" id="username" name="username">
                                        <div class="button-primary">
                                            <div ngbDropdown class="button-select">
                                                <button type="button" class="btn text-capitalize btn-outline-secondary" id="ddState" ngbDropdownToggle>
                                                    {{state?state:"State"}}
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="ddState">
                                                    <button ngbDropdownItem (click)="selectState('')">All</button>
                                                    <button ngbDropdownItem (click)="selectState('ACT')">ACT</button>
                                                    <button ngbDropdownItem (click)="selectState('NSW')">NSW</button>                                        
                                                    <button ngbDropdownItem (click)="selectState('NT')">NT</button>
                                                    <button ngbDropdownItem (click)="selectState('QLD')">QLD</button>
                                                    <button ngbDropdownItem (click)="selectState('SA')">SA</button>
                                                    <button ngbDropdownItem (click)="selectState('TAS')">TAS</button>
                                                    <button ngbDropdownItem (click)="selectState('VIC')">VIC</button>
                                                    <button ngbDropdownItem (click)="selectState('WA')">WA</button>
                                                </div>
                                            </div>
                                            <button type="button" (click)="search()"
                                                    class="btn btn-default primary-btn text-white text-capitalize">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 empty-cart-cls text-center mt-5" *ngIf='showNoResult'>
                            <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="No Players Found">
                            <h3 class="mt-4"><b>No Players Found</b></h3>
                            <h4>Please try another search.</h4>
                        </div>
                        <div class="blog-agency" *ngFor="let player of players">
                            <div class="row blog-contain pl-0 pr-0">
                                <div class="col-xl-2 col-lg-3 col-md-3 p-0">
                                    <div class="text-center init-img" [ngClass]="{'blue-bg': player.Gender == 'M', 'red-bg': player.Gender == 'F'}">
                                        {{toInitials(player)}}
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-9 col-md-9 p-0">
                                    <div class="img-container center-content">
                                        <div>
                                            <div class="blog-info">
                                                <div class="m-b-20">
                                                    <div class="center-text">
                                                        <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>
                                                        <h6 class="m-r-25 font-blog" ngbTooltip="Last Played Date" triggers="click:blur"><span class="last-played-label">Last Played:&nbsp;</span>{{player.LastPlayed.toDate() | date:"dd/MM/yyyy"}}</h6>                                                        
                                                        <i class="fa fa-map-marker m-r-10" aria-hidden="true"></i>
                                                        <h6 class="font-blog m-r-25">{{player.State}}</h6>
                                                        <i class="fa m-r-10" aria-hidden="true" [ngClass]="{'blue-text fa-male': player.Gender == 'M', 'red-text fa-female': player.Gender == 'F'}"></i>
                                                        <h6 class="font-blog m-r-25" [ngClass]="{'blue-text': player.Gender == 'M', 'red-text': player.Gender == 'F'}">{{player.Gender}}</h6>
                                                        <i class="fa fa-list-ol m-r-10" aria-hidden="true" *ngIf="player.Division > 0"></i>
                                                        <h6 class="font-blog" *ngIf="player.Division > 0">{{toDivision(player)}}</h6>
                                                    </div>
                                                </div>
                                                <div class="container-fluid mt-2">
                                                    <div class="row">
                                                        <div class="col-xl-8 col-md-9">
                                                            <h5 class="blog-head font-600"><span class="m-r-25">{{player.FullName}}</span><span class="text-muted">{{toRating(player)}}</span></h5>
                                                        </div>
                                                        <div class="col-xl-4 col-md-3 text-right align-middle rc-id pt-2">
                                                            RC ID: {{player.Id}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-3 col-6 mb-3">
                                                            <h5 class="text-center"><i class="fa fa-trophy m-r-0" aria-hidden="true"></i></h5>
                                                            <h4 class="text-center">{{player.TotalWins}}</h4>
                                                            <h6 class="text-center">Match Wins</h6>
                                                        </div>
                                                        <div class="col-xl-3 col-6 mb-3">
                                                            <h5 class="text-center"><i class="fa fa-bar-chart m-r-0" aria-hidden="true"></i></h5>
                                                            <h4 class="text-center">{{player.TotalWins / player.TotalPlayedMatches | percent }}</h4> 
                                                            <h6 class="text-center">Winning</h6>
                                                        </div>
                                                        <div class="col-xl-3 col-6 mb-3">
                                                            <h5 class="text-center"><i class="fa fa-list m-r-0" aria-hidden="true"></i></h5>
                                                            <h4 class="text-center">{{player.TotalPlayedMatches}}</h4>
                                                            <h6 class="text-center">Matches</h6>
                                                        </div>
                                                        <div class="col-xl-3 col-6 mb-3">
                                                            <h5 class="text-center"><i class="fa fa-calendar-check-o m-r-0" aria-hidden="true"></i></h5>
                                                            <h4 class="text-center">{{player.TotalPlayedEvents}}</h4>
                                                            <h6 class="text-center">Tournaments</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn-bottom">
                                                    <a href="/player/{{player.Id}}?keyword={{keyword}}" class="btn btn-default btn-white">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="text-center" *ngIf="lastPlayer">
                            <a (click)="loadMorePlayers()" class="btn btn-default btn-white btn-sm">Load more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
               <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>
<!-- section end -->

<app-gym-footer></app-gym-footer>
