<app-gym-nav></app-gym-nav>

<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <div>
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a><i class="fa fa-angle-double-right"></i> players</a></li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="breadcrumb-txt">Australian Players</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb end -->

<!-- section start -->
<section class="agency blog blog-sec blog-sidebar  blog-list sider pt-4">
    <div class="container">
        <div class="row pl-0 pr-0">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-12 blog-sec blog-list" >
                        <div class="subscribe mb-5">
                            <div class="center-content">
                                <div class="form-group">
                                    <div class="flex search-form">
                                        <input type="text" (keyup.enter)="search()" [(ngModel)]="keyword" class="form-control text-capitalize"
                                               placeholder="Please Enter a player's name" id="username" name="username">
                                        <div class="button-primary">
                                            <div ngbDropdown class="button-select">
                                                <button type="button" class="btn text-capitalize btn-outline-secondary" id="ddState" ngbDropdownToggle>
                                                    {{state?state:"State"}}
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="ddState">
                                                    <button ngbDropdownItem (click)="selectState('')">All</button>
                                                    <button ngbDropdownItem (click)="selectState('ACT')">ACT</button>
                                                    <button ngbDropdownItem (click)="selectState('NSW')">NSW</button>                                        
                                                    <button ngbDropdownItem (click)="selectState('NT')">NT</button>
                                                    <button ngbDropdownItem (click)="selectState('QLD')">QLD</button>
                                                    <button ngbDropdownItem (click)="selectState('SA')">SA</button>
                                                    <button ngbDropdownItem (click)="selectState('TAS')">TAS</button>
                                                    <button ngbDropdownItem (click)="selectState('VIC')">VIC</button>
                                                    <button ngbDropdownItem (click)="selectState('WA')">WA</button>
                                                </div>
                                            </div>
                                            <button type="button" (click)="search()"
                                                    class="btn btn-default primary-btn text-white text-capitalize">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 empty-cart-cls text-center mt-5" *ngIf='showNoResult'>
                            <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="No Players Found">
                            <h3 class="mt-4"><b>No Players Found</b></h3>
                            <h4>Please enter a player's name and do another search.</h4>
                        </div>
                        <ng-container *ngFor="let player of players">
                            <app-player-list-tile [player]="player" [keyword]="keyword"></app-player-list-tile>
                        </ng-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="text-center" *ngIf="lastPlayer">
                            <a (click)="loadMorePlayers()" class="btn btn-default btn-white btn-sm">Load more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
               <app-sidebar [statistics]="stats"></app-sidebar>
            </div>
        </div>
    </div>
</section>
<!-- section end -->

<app-gym-footer></app-gym-footer>
