<!--copyright css start-->
<div class="gym copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a href="/privacy" target="_blank" class="copyright-text op-text">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms" target="_blank" class="copyright-text op-text">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h6 class="copyright-text text-white text-right op-text">Copyright ©{{year}} ttplayers by <i
                            class="fa fa-heart"
                            aria-hidden="true"></i>
                        precise agency pty ltd</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright css end-->
