<div class="containercounter bg-light-inner pt-3 pl-3 pr-3 mt-4">
    <div class="row">
        <div class="col-12">
            <h4>Winning Rate (Year-to-Date)</h4>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 p-4">
            <div *ngIf="player.YearToDateWins>0" class="player-activity-summary mb-4">
                <strong>{{player.FirstName}}</strong> has achieved
                <ul class="list-group list-group-flush">
                    <li><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i> winning rate (YTD) of <strong>{{playerRate + '%' }}</strong>.</li>
                    <li *ngIf="nationalRate <= playerRate"><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i> is <strong>{{ (playerRate - nationalRate) + '%' }}</strong> higher than all players average ({{nationalRate +'%'}}).</li>
                    <li *ngIf="nationalRate > playerRate"><i _ngcontent-serverapp-c366="" class="fa fa-angle-double-right mr-2"></i> is <strong>{{ (nationalRate - playerRate) + '%' }}</strong> lower than all players average ({{nationalRate +'%'}}).</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 p-4">
            <div class="win-rate-container">
                <span class="low-area"></span>
                <span class="medium-area"></span>
                <span class="high-area"></span>
                <span class="player-rate" [ngStyle]="{ 'width': playerRate + '%'  }">
                    {{ playerRate + "%"}}
                    <br/>
                    {{player.FirstName}}
                </span>
                <span class="average-rate"[ngStyle]="{ 'width': nationalRate + '%'  }">
                    {{ nationalRate + "%"}}
                    <br/>
                    All Players Average
                </span>
            </div>
        </div>
    </div>
</div>