.dashboard-profile{
    padding:0;
}


.list-group-item{
    font-size:0.8em;
    padding: 0.5rem 1.0rem;
    color:#747474;
}

.state-badge {
    color:#fff;
}

.btn-sm {
    padding: 3px 9px;
}

.dashboard-player-name {
    position: relative;

    h2{
        text-align: left !important;
        margin-left: 10px;
    }
    
    .text-right {
        position: absolute;
        right: 0;
        top:0;
    }
}

.green {
    color:green;
}

.red {
    color:red;
}

.blog-contain {
    border: 1px solid #f3f3f3;
    background: #fff;
    border-radius: 16px;
    filter: drop-shadow(0 0 10px #eee);
    transition: all 0.3s;
    overflow: auto;

    .profile-img {
        height:100%;
        min-height:350px;
        background-size: cover;
        background-repeat: no-repeat;
        color:#fff;
        
        /* Style for the container div */
        display: flex;
        justify-content: center;
        align-items: center;
    
        .profile-title {
            h1 {
                font-family: "Poppins", sans-serif;
                text-transform: capitalize;
                font-weight: 600;
                font-size:3em;
                color:#fff;
            }
    
            h4{
                color:#fff;
                font-size:2em;
                font-weight:100;
            }
    
            h5 {
                color:#fff;
                font-weight:100;
                font-size:1.5em;
            }
        }
    }
}

.card {
    border: 1px solid #f3f3f3;
    border-radius: 16px;
    filter: drop-shadow(0 0 10px #eee);
    transition: all 0.3s;

    .card-header {
        font-size:1.3em;
        font-weight: 400;
        background-color: transparent;
        border-radius: 16px 16px 0px 0px;
        filter: drop-shadow(0 0 10px #cecece);

        .fa-heart {
            color:red;
            font-size:1.4em;
        }

        .fa-shield {
            font-size:1.4em;
            color:rgb(111, 0, 255);
        }

        .fa-user {
            color:#357fef;
            font-size:1.4em;
        }
    }

}


@media only screen and (max-width: 575px) {
    .profile-img {
        min-height:100px !important;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

        .profile-title{
            h1{
                font-size:1.8em !important;
            }
            h4{
                font-size:1.5em !important;
            }
            h5{
                font-size:1.2em !important;
            }
        }
    }

    .dashboard-profile {
        h2 {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 991px) {
    .profile-title {
        h1{
            font-size:1.8em !important;
        }
        h4{
            font-size:1.5em !important;
        }
        h5{
            font-size:1.2em !important;
        }
    }
}
