<app-gym-nav></app-gym-nav>
<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <div>
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a><i class="fa fa-angle-double-right"></i> dashboard</a></li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="breadcrumb-txt">dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb end -->

<section class="dashboard-profile sider mt-4 mb-4" *ngIf="!user.EmailVerified">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Email Verification -->
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-info m-r-10"></i>Thank you for signing up with ttPlayers. We sent you a verification email, please check your inbox and verify your email address by following the instructions. 
                    Click <a (click)="resendEmailVerify()">resend</a> to send another verification email.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dashboard-profile mt-4 mb-4">
    <div class="container">
        <div class="row mt-4 blog-agency" *ngIf="!completedProfile">
            <div class="col-12">
                <!-- Complete your profile -->
                <div class="row blog-contain pl-0 pr-0">
                    <div class="col-xl-5 col-lg-5 col-md-5 p-0">
                        <div class="text-center profile-img" [ngStyle]="{'background-image': 'url(assets/images/gym/header2.jpg)'}">
                            <div class="profile-title">
                                <h4>Please complete</h4>
                                <h1>Your Profile</h1>
                                <h5 class="mt-3">to unlock more features</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 p-4">
                        <h3 class="mb-2">Pair your Rating Central ID</h3>
                        <hr/>
                        <h6>Please enter your Full Name to search Rating Central Players.</h6>
                        <div class="theme-card mt-4">
                            <form class="theme-form" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                                <app-player-autocomplete (actionTriggered)="handlePlayerAutoCompleteAction($event)"></app-player-autocomplete>
                                <button class="btn primary-btn btn-default radius-0" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0" *ngIf="completedProfile">
            <div class="col-12 p-0">
                <h2>{{completedProfile.FullName}}</h2>
                <hr/>
            </div>
        </div>
        <div class="row blog-agency" *ngIf="completedProfile">
            <div class="col-12">
                <!-- Your profile -->
                <div class="row blog-contain pl-0 pr-0">
                    <div class="col-12 p-4">
                        <div class="container portfolio-detail mb-3" *ngIf="player">
                            <app-player-detail-basic-info [player]="player"></app-player-detail-basic-info>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 p-0 mb-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-4" *ngIf="player">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-user m-r-10"></i> My Statistics 
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Checkout my statistics of winning rate, ranking, opponents, matches and more.</p>
                        </blockquote>
                        <div class="btn-bottom mt-4">
                            <a href="/player/{{this.player.Id}}" class="btn btn-default btn-white">View My Statistics</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-heart m-r-10"></i> Friends 
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>You can add players to your friends list and view their rating progress.</p>
                        </blockquote>
                        <div class="btn-bottom mt-4">
                            <a href="/friends" class="btn btn-default btn-white">View Friends</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-shield m-r-10"></i>Competitors
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>You can add players to your competitors list and compare the statistics with yours.</p>
                        </blockquote>
                        <div class="btn-bottom mt-4">
                            <a href="/competitors" class="btn btn-default btn-white">View Competitors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<app-gym-footer></app-gym-footer>