
.breadcrumb-section-main {
    padding:30px;
}

.dashboard-profile{
    padding:0;
}

.dashboard-friends-title {
    padding:0;
    color:#000;

    h2 {
        margin-left: 0px;
    }
}

.dashboard-friends {
    padding:0;

    .container {
        border:solid 1px #efefef;
        border-radius: 16px;
        filter: drop-shadow(0 0 10px #eee);
        transition: all 0.3s;

        .row {
            background-color: #efefef;
            padding-top:5px;
            padding-bottom:5px;
        }
    }
}

.list-group-item{
    font-size:0.8em;
    padding: 0.5rem 1.0rem;
    color:#747474;
}

.state-badge {
    color:#fff;
}

.friend-title {
    .font-600 {
        font-weight: 600;
    }

    small {
        font-size:0.8em !important;
        font-weight: 500;
    }
}

.green {
    color:green;
}

.red {
    color:red;
}

.blog-contain {
    border: 1px solid #f3f3f3;
    background: #fff;
    border-radius: 16px;
    filter: drop-shadow(0 0 10px #eee);
    transition: all 0.3s;
    overflow: auto;

    .profile-img {
        height:100%;
        min-height:350px;
        background-size: cover;
        background-repeat: no-repeat;
        color:#fff;
        
        /* Style for the container div */
        display: flex;
        justify-content: center;
        align-items: center;
    
        .profile-title {
            h1 {
                font-family: "Poppins", sans-serif;
                text-transform: capitalize;
                font-weight: 600;
                font-size:3em;
                color:#fff;
            }
    
            h4{
                color:#fff;
                font-size:2em;
                font-weight:100;
            }
    
            h5 {
                color:#fff;
                font-weight:100;
                font-size:1.5em;
            }
        }
    }
}


@media only screen and (max-width: 575px) {
    .profile-img {
        min-height:100px !important;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

        .profile-title{
            h1{
                font-size:1.8em !important;
            }
            h4{
                font-size:1.5em !important;
            }
            h5{
                font-size:1.2em !important;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .profile-title {
        h1{
            font-size:1.8em !important;
        }
        h4{
            font-size:1.5em !important;
        }
        h5{
            font-size:1.2em !important;
        }
    }
}
