<app-gym-nav></app-gym-nav>
<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-container inner-3">
    <h2 class="breadcrumb-txt">Dashboard</h2>
</section>
<!-- Breadcrumb end -->

<section class="dashboard-profile sider mt-4 mb-4" *ngIf="!user.EmailVerified">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Email Verification -->
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-info m-r-10"></i>Thank you for signing up with ttPlayers. We sent you a verification email, please check your inbox and verify your email address by following the instructions. 
                    Click <a (click)="resendEmailVerify()">resend</a> to send another verification email.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dashboard-profile sider mt-4" *ngIf="!completedProfile?.IsCompleted">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Not Completed Profile -->
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-info m-r-10"></i>Please fill the form and save your profile to unlock the following features, <br/>
                    <ul class="mt-2 ml-2">
                        <li class="mb-2"><strong>1. your matches history</strong></li>
                        <li class="mb-2"><strong>2. your play statistics</strong></li>
                        <li class="mb-2"><strong>3. friends list</strong></li>
                        <li class="mb-2"><strong>4. competitors list</strong></li>
                    </ul>
                    <a href="/profile" class="btn btn-default btn-white btn-sm">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dashboard-profile mt-4 mb-4">
    <div class="container" *ngIf="completedProfile && completedProfile.IsCompleted">
        <div class="row p-0" >
            <div class="col-12 p-0">
                <div class="dashboard-player-name">
                    <h2 >{{completedProfile.FullName}}</h2>
                    <a href="/profile" class="btn btn-default btn-white btn-sm text-right">Profile</a>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row blog-agency">
            <div class="col-12">
                <!-- Your profile -->
                <div class="row blog-contain pl-0 pr-0">
                    <div class="col-12 p-4">
                        <div class="container portfolio-detail mb-3" *ngIf="player">
                            <app-player-detail-basic-info [player]="player"></app-player-detail-basic-info>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 p-0 mb-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-4" *ngIf="player">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> My Statistics 
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Checkout my statistics of winning rate, ranking, opponents, matches and more.</p>
                        </blockquote>
                        <div class="btn-bottom mt-4">
                            <a href="/player/{{this.player.Id}}" class="btn btn-default btn-white">View My Statistics</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-heart m-r-10"></i> Friends 
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>You can add players to your friends list and view their rating progress.</p>
                        </blockquote>
                        <div class="btn-bottom mt-4">
                            <a href="/friends" class="btn btn-default btn-white">View Friends</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-shield m-r-10"></i>Competitors
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>You can add players to your competitors list and compare the statistics with yours.</p>
                        </blockquote>
                        <div class="btn-bottom mt-4">
                            <a href="/competitors" class="btn btn-default btn-white">View Competitors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<app-gym-footer></app-gym-footer>