<app-gym-nav></app-gym-nav>

<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<!-- Breadcrumb -->
<section class="breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <div>
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a><i class="fa fa-angle-double-right"></i> events</a></li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="breadcrumb-txt">events</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb end -->

<!-- section start -->
<section class="agency blog blog-sec blog-list pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Search by states and Date Ranges -->
                <div class="subscribe mb-5">
                    <div class="center-content">
                        <div class="form-group">
                            <div class="flex search-form">
                                <input type="text" (keyup.enter)="search()" [(ngModel)]="keyword" class="form-control text-capitalize"
                                       placeholder="Please Enter an event's name" id="searchKeyword" name="searchKeyword">
                                <div class="button-primary">
                                    <div ngbDropdown class="button-select">
                                        <button type="button" class="btn text-capitalize btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
                                            {{state}}
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button ngbDropdownItem (click)="selectState('NSW')">NSW</button>
                                            <button ngbDropdownItem (click)="selectState('VIC')">VIC</button>
                                            <button ngbDropdownItem (click)="selectState('ACT')">ACT</button>
                                            <button ngbDropdownItem (click)="selectState('QLD')">QLD</button>
                                            <button ngbDropdownItem (click)="selectState('WA')">WA</button>
                                            <button ngbDropdownItem (click)="selectState('TAS')">TAS</button>
                                            <button ngbDropdownItem (click)="selectState('NT')">NT</button>
                                        </div>
                                    </div>
                                    <button type="button" (click)="search()"
                                            class="btn btn-default primary-btn text-white text-capitalize">
                                        Search
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-12 blog-sec blog-list" *ngFor="let evt of events">
                <div class="blog-agency">
                    <div class="row blog-contain pl-0 pr-0">
                        <div class="col-xl-3 col-lg-3 col-lg-3 col-md-3 p-0">
                            <div class="event-img" [ngStyle]="{'background-image': getEventBg(evt)}">
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 p-0">
                            <div class="img-container center-content">
                                <div>
                                    <div class="blog-info">
                                        <div class="m-b-20 container">
                                            <div class="row p-0">
                                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-3">
                                                    <div class="center-text">
                                                        <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>
                                                        <h6 class="m-r-25 font-blog">{{evt.Date.toDate()| date:'dd/MM/yyyy'}}</h6>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-3">
                                                    <div class="center-text">
                                                        <i class="fa fa-map-marker m-r-10" aria-hidden="true"></i>
                                                        <h6 class="m-r-25 font-blog">{{evt.State?evt.State:evt.Country}}</h6>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-3">
                                                    <div class="center-text">
                                                        <i class="fa fa-user m-r-10" aria-hidden="true"></i>
                                                        <h6 class="m-r-25 font-blog">{{evt.PlayerCount}} players</h6>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-3">
                                                    <div class="center-text">
                                                        <i class="fa fa-gamepad m-r-10" aria-hidden="true"></i>
                                                        <h6 class="m-r-25 font-blog">{{evt.MatchCount}} matches</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="blog-head font-500">{{evt.Name}}</h3>
                                        <div *ngIf="evt.ClubName" class="text-muted mb-4">
                                            <h6>{{evt.ClubName}}</h6>
                                        </div>
                                        <div>
                                            <a href="/event/{{evt.Id}}?state={{state}}&keyword={{keyword}}" class="btn btn-default btn-white">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center" *ngIf="lastEvent">
                    <a (click)="loadMoreEvents()" class="btn btn-default btn-white btn-sm">Load more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end-->

<app-gym-footer></app-gym-footer>
