<!--footer start-->
<footer class="gym footer2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 set-first">
                <div class="logo-sec">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">About Us</h3>
                    </div>
                    <div class="footer-contant">
                        <img src="assets/images/logo/ttplayers-1.png" alt="" class="img-fluid footer-logo">
                        <div class="footer-para">
                            <h6 class="text-white para-address">TTPLAYERS.COM.AU</h6>
                            <h6 class="text-white para-address">NSW, Australia</h6>
                        </div>
                        <!-- <ul class="d-flex footer-social social">
                            <li class="footer-social-list">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="footer-social-list">
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="footer-social-list">
                                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-title mobile-title">
                                <h3 class="text-white">Events</h3>
                            </div>
                            <div class="footer-contant">
                                <h5 class="footer-headings">Events</h5>
                                <div>
                                    <ul class="footer-lists op-text">
                                        <li class="">
                                            <a href="/events">Events Search</a>
                                        </li>
                                        <li class="">
                                            <a href="/events?state=NSW">NSW Events</a>
                                        </li>
                                        <li class="">
                                            <a href="/events?state=VIC">VIC Events</a>
                                        </li>
                                        <li class="">
                                            <a href="/events?state=QLD">QLD Events</a>
                                        </li>
                                        <li class="">
                                            <a href="/events?state=SA">SA Events</a>
                                        </li>
                                        <li class="">
                                            <a href="/events?state=TAS">TAS Events</a>
                                        </li>
                                        <li class="">
                                            <a href="/events?state=WA">WA Events</a>
                                        </li>
                                        <li class="">
                                            <a href="/events?state=ACT">ACT Events</a>
                                        </li>
                                        <li class="">
                                            <a href="/events?state=NT">NT Events</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-title mobile-title">
                                <h3 class="text-white">Players</h3>
                            </div>
                            <div class="footer-contant">
                                <h5 class="footer-headings">Players</h5>
                                <div>
                                    <ul class="footer-lists op-text">
                                        <li class="">
                                            <a href="/players">Player Search</a>
                                        </li>
                                        <li class="">
                                            <a href="/players?state=NSW">NSW Players</a>
                                        </li>
                                        <li class="">
                                            <a href="/players?state=VIC">VIC Players</a>
                                        </li>
                                        <li class="">
                                            <a href="/players?state=QLD">QLD Players</a>
                                        </li>
                                        <li class="">
                                            <a href="/players?state=SA">SA Players</a>
                                        </li>
                                        <li class="">
                                            <a href="/players?state=TAS">TAS Players</a>
                                        </li>
                                        <li class="">
                                            <a href="/players?state=WA">WA Players</a>
                                        </li>
                                        <li class="">
                                            <a href="/players?state=ACT">ACT Players</a>
                                        </li>
                                        <li class="">
                                            <a href="/players?state=NT">NT Players</a>
                                        </li>
                                        <!-- <li class="">
                                            <a href="#">History</a>
                                        </li>
                                        <li class="">
                                            <a href="#">Peer Comparison</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-title mobile-title">
                                <h3 class="text-white">Clubs</h3>
                            </div>
                            <div class="footer-contant">
                                <h5 class="footer-headings">Clubs</h5>
                                <div>
                                    <ul class="footer-lists op-text">
                                        <li class="">
                                            <a href="/clubs">Clubs Search</a>
                                        </li>
                                        <li class="">
                                            <a href="/clubs?state=NSW">NSW Clubs</a>
                                        </li>
                                        <li class="">
                                            <a href="/clubs?state=VIC">VIC Clubs</a>
                                        </li>
                                        <li class="">
                                            <a href="/clubs?state=QLD">QLD Clubs</a>
                                        </li>
                                        <li class="">
                                            <a href="/clubs?state=SA">SA Clubs</a>
                                        </li>
                                        <li class="">
                                            <a href="/clubs?state=TAS">TAS Clubs</a>
                                        </li>
                                        <li class="">
                                            <a href="/clubs?state=WA">WA Clubs</a>
                                        </li>
                                        <li class="">
                                            <a href="/clubs?state=ACT">ACT Clubs</a>
                                        </li>
                                        <li class="">
                                            <a href="/clubs?state=NT">NT Clubs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-title mobile-title">
                                <h3 class="text-white">Rankings</h3>
                            </div>
                            <div class="footer-contant">
                                <h5 class="footer-headings">Rankings</h5>
                                <div>
                                    <ul class="footer-lists op-text">
                                        <li class="">
                                            <a href="/rankings?gender=M&state=NSW">NSW Men</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=F&state=NSW">NSW Women</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=M&state=VIC">VIC Men</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=F&state=VIC">VIC Women</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=M&state=QLD">QLD Men</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=F&state=QLD">QLD Women</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=M&state=SA">SA Men</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=F&state=SA">SA Women</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=M&state=TAS">TAS Men</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=F&state=TAS">TAS Women</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=M&state=WA">WA Men</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=F&state=WA">WA Women</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=M&state=ACT">ACT Men</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=F&state=ACT">ACT Women</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=M&state=NT">NT Men</a>
                                        </li>
                                        <li class="">
                                            <a href="/rankings?gender=F&state=NT">NT Women</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 set-last">
                            <div class="footer-title mobile-title">
                                <h3 class="text-white">Miscellaneous</h3>
                            </div>
                            <div class="footer-contant">
                                <h5 class="footer-headings">Miscellaneous</h5>
                                <div>
                                    <ul class="footer-lists op-text">
                                        <li class="">
                                            <a href="/faq">FAQ</a>
                                        </li>
                                        <li class="">
                                            <a href="mailto:support@ttplayers.com.au">Contact Us</a>
                                        </li>
                                        <li class="">
                                            <a href="/wiki">Wiki</a>
                                        </li>
                                        <li class="">
                                            <a href="/blog">Blog</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <app-gym-copyright></app-gym-copyright>                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Version: {{versions}}
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
<!-- <app-tap-to-top></app-tap-to-top> -->

<app-footer-fixed-mobile-menu></app-footer-fixed-mobile-menu>