
.demo-slider {
    width: 100%;

    .demo-img {
        margin: 0 auto;
        filter: drop-shadow(0 0 6px #d4d1d1);
        border: none;
        padding:15px;

        img {
            display: block;
            background-color: #fff;
        }
    }

    .demo-info {
        margin: 0 auto;

        h5 {
            text-align: center;
        }

        .demo-desc {
            text-align: center;
        }
    }
}