<!--trainer section start-->
<section class="gym trainers">
    <div class="container overflow-hide">
        <div class="row mb-3">
            <div class="col-12">
                <div class="title">
                    <div class="text-center">
                        <div>
                            <h6 class=" borders-before"><span>PREVIEWS</span></h6>
                        </div>
                        <div class="main-title">
                            <h2>Match History & Statistics Previews</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <owl-carousel-o [options]="trainercarouselOptions" class="demo-slider">
                    <ng-container *ngFor="let img of images">
                        <ng-template carouselSlide class="item">
                            <div class="demo-img"><img [src]="img.src" [alt]="img.title" class="img-fluid"></div>
                            <div class="demo-info">
                                <h5>{{img.title}}</h5>
                                <div class="demo-desc">{{img.description}}</div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>
<!--trainer section end-->
