<div class="container counter bg-light-inner pt-3 pl-3 pr-3 mt-4">
    <div class="row">
        <div class="col-12">
            <h4>Match Scores</h4>
            <hr/>
        </div>
    </div>
    <app-player-match-score-stats-item-three-sets [matchStatsSets]="matchStats3Sets" [player]="player" *ngIf="matchStats3Sets.length>0"></app-player-match-score-stats-item-three-sets>
    
    <app-player-match-score-stats-item-five-sets [matchStatsSets]="matchStats5Sets" [player]="player" *ngIf="matchStats5Sets.length>0"></app-player-match-score-stats-item-five-sets>

    <app-player-match-score-stats-item-seven-sets [matchStatsSets]="matchStats7Sets" [player]="player" *ngIf="matchStats7Sets.length>0"></app-player-match-score-stats-item-seven-sets>
</div>


