/* You can add global styles to this file, and also import other style files */
.player-list-header{
    min-height:65px;
}

@media only screen and (max-width: 575px) {
    .player-list-header{
        min-height:55px;
    }
    
}

.modal-backdrop {
    z-index: 1040 !important;
}


.breadcrumb-section-main {
    padding:30px;
}

input.ng-invalid {
    border: solid 1px red;
}

