/* You can add global styles to this file, and also import other style files */
.player-list-header{
    min-height:70px;
}

.modal-backdrop {
    z-index: 1040 !important;
}


.breadcrumb-section-main {
    padding:30px;
}
