<app-gym-nav></app-gym-nav>
<!-- header Start-->
<div class="header5-content">
    <div class="player-list-header bg" [ngStyle]="{'background-image': 'url(assets/images/gym/header3.jpg)'}">
    </div>
</div>
<!-- header end-->

<section class="sider mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h2>Terms & Conditions</h2>
                <p>Last Updated: 2023-11-25</p>

                <p>Please read these Terms carefully. By using ttplayers.com.au or signing up for an account, you are agreeing to be bound by these Terms. This is a legal agreement ("Agreement").</p>

                <p>ttPlayers is a cloud based table tennis sports players statistics and ranking platform offered through the URL www.ttplayers.com.au (the "Website") that allows you to view your table tennis matches' statistics, and keep track of your play histories.</p>

                <p>ttPlayers is owned and operated by Precise Agency Pty Ltd, an Australian corporation. Precise Agency consists of employees, independent contractors, and representatives ("our Team"). 
                    As a customer of the Service or a representative of an entity that's a customer of the Service, you are a "Client" according to this agreement (or "you" "your"). 
                    If you are a member of a sporting organisation (that is, a member of a Client), these Terms govern your access to ttPlayers too. 
                    You should however, also refer to the Terms of Use or other legal agreements (for example, Privacy Policies) of your sporting organisation as to how they handle your data.</p>

                <p>These Terms of Use ("Terms", including our Privacy Policy, and Acceptable Use Policy) define the terms and conditions under which you are allowed to use ttPlayers and how we'll treat your account while you are a Client. 
                    If you have any questions about our Terms, feel free to contact us.</p>

                <p>Finally, all dollar amounts throughout ttPlayers and this Agreement are in Australian dollars (AUD).</p>

                <h2>Account</h2>

                <h3>1. Eligibility</h3>
                <p>To access ttPlayers.com.au, you must:</p>
                <ul>
                  <li>Qualification: Be a registered member of a recognized table tennis organization (as a User) or an identifiable individual able to enter into contracts.</li>
                  <li>Registration: Complete our registration process.</li>
                  <li>Acceptance: Agree to and abide by these Terms and Conditions.</li>
                  <li>Accurate Information: Provide accurate, complete, and up-to-date contact information.</li>
                </ul>
                <p>By using ttPlayers.com.au, you confirm that you meet these requirements and will not use the service in violation of any laws or regulations. We reserve the right to refuse service, close accounts, and modify eligibility criteria without notice.</p>
                
                <h3>2. Subscription and Usage</h3>

                <ul>
                    <li>Membership Plans: We offer various membership plans for ttPlayers.com.au, each with unique features.</li>
                    <li>Sign-up Process: Registration may start with a trial period or through account creation by our team.</li>
                    <li>Term: Membership subscription periods last for twelve (12) months. Users may opt for annual billing or, for recognized table tennis organizations, monthly billing.</li>
                    <li>Commencement: Your membership begins upon sign-up and extends for each subsequent renewal.</li>
                    <li>Authorized Representation: By registering on behalf of an organization, you assert the authority to accept these Terms and Conditions.</li>
                </ul>

                <h3>3. Termination and Account Closure</h3>
                <ul>
                    <li>Termination: Either party (you or ttPlayers.com.au) may terminate this Agreement at any time and for any reason by providing notice.</li>
                    <li>Suspension: We reserve the right to suspend our service to you, with or without cause.
                    </li>
                    <li>Refunds: In the event of termination without cause, we'll refund a prorated portion of your membership fee and reimburse any unused credits. No refunds will be provided for violations of these Terms and Conditions or our Acceptable Use Policy.
                    </li>
                    <li>Account Deletion: Upon termination or inactivity, we may permanently delete your account and associated data from ttPlayers.com.au.
                    </li>
                </ul>
                
                <h3>4. Modifications to Terms</h3>
                <ul>
                    <li>
                        Updates: Changes to these Terms and Conditions will be communicated via our website, account notifications, or email.
                    </li>
                    <li>
                        Effective Date: Updated terms take immediate effect unless you terminate your account within seven (7) days of the update.
                    </li>
                </ul>
              
                <h3>5. Account Security</h3>
                <ul>
                    <li>
                        Responsibility: You are responsible for maintaining the confidentiality of your account credentials.
                    </li>
                    <li>
                        Unauthorized Use: Notify us immediately of any unauthorized account access. We are not liable for losses due to stolen or hacked passwords. For security reasons, password resets are conducted by our team.
                    </li>
                </ul>
              
                <h3>6. Account Ownership Disputes</h3>
                <ul>
                    <li>
                        Resolution: Disputes regarding account ownership should be resolved directly between involved parties.
                    </li>
                    <li>
                        Determination: Ownership is determined based on the contact information provided for the account. In case of a dispute, evidence from a relevant government regulatory body may be required (e.g., in Australia, ASIC or state Fair Trading).
                    </li>
                </ul>

                <h2>Rights</h2>

                <h3>7. Proprietary Rights Owned by Us</h3>

                <p>You must respect our Proprietary Rights in the Website and the software used to provide ttPlayers.com.au (Proprietary Rights include patents, trademarks, service marks, and copyrights).</p>
                <p>You acknowledge and agree that the provision and your use of the Service does not constitute a transfer of any Proprietary Rights in the Service and for the avoidance of doubt ttPlayers.com.au or the Website.</p>
                <p>You must obtain express written permission from us if you wish to reproduce any aspect of the Website or other Proprietary Rights owned by us.</p>
              
                <h3>8. Proprietary Rights Owned by You</h3>

                <p>You represent and warrant that you either own or have permission to use all of the material in your account. You retain ownership of the materials you (or your users) upload to the Service.</p>
                <p>We may use or disclose your materials only as we describe in these Terms and our Privacy Policy.</p>
                <p>By using the Service and posting or adding any content onto the Website, you grant us a perpetual non-exclusive, royalty-free, irrevocable, worldwide and transferable right and licence to use that content in any way.</p>
                <p>You represent and warrant to us that you have all necessary rights to grant the licences and consents set out above.</p>
                <p>All data added by you (or your users) into ttPlayers.com.au including member data, financial information, and all other data, belongs to you. In the event that you leave our Service, we may grant you access for 30 days to remove your data.</p>
                <p>We are not responsible for providing you with the data exports - it is your responsibility to go through the Service and export your data.</p>
              
                <h3>9. Privacy Policy</h3>
                <p>We may use and disclose your information according to our Privacy Policy. Our Privacy Policy will be treated as part of these Terms.</p>
              
                <h3>10. Right to Review Your Account</h3>
                <p>We may view, copy, and internally distribute content from your Account to create algorithms and programs ("Tools") that help us spot problem accounts.</p>
                <p>We use these Tools to find Clients who violate these Terms or laws, and to improve the Service.</p>


                <h2>Rules and Abuses</h2>

                <h3>11. General Rules</h3>
                <p>You promise to follow these rules:</p>
                <ul>
                    <li>You won't violate our Acceptable Use Policy, which is part of this Agreement.</li>
                    <li>You won't upload any illegal or copyrighted content, or content that may bring ttPlayers.com.au into disrepute.</li>
                    <li>You won't attempt to compromise any aspect of ttPlayers.com.au or access data of other clients.</li>
                    <li>You won't use the Services in any way that would violate any applicable laws, rules, or regulations or infringe on third-party rights.</li>
                </ul>
                <p>If you violate any of these rules, we may suspend or terminate your account.</p>

                <h3>12. Reporting Abuse</h3>
                <p>If you think anyone is violating any of these Terms, please notify us immediately. Report spam or copyright violations to our team.</p>
                <p>We take no responsibility for actions of our clients but do our best to prevent abuse of the Service.</p>

                <h3>13. Bandwidth Abuse/Throttling</h3>
                <p>You may only use our bandwidth for your ttPlayers.com.au account. We may throttle your sending or connection at our discretion.</p>

                <h3>14. Compliance with Laws</h3>
                <p>You represent and warrant that your use of ttPlayers.com.au will comply with all applicable laws and regulations.</p>

                <p><strong>Australian Privacy Principles (APPs):</strong></p>
                <p>If you are subject to the Australian Privacy Principles and use our Service, you acknowledge:</p>
                <ul>
                  <li>We won't be liable if our Service doesn't meet those requirements.</li>
                </ul>

                <h2>Liability</h2>

                <h3>15. Limitation of Liability</h3>
                <p>You acknowledge and agree that to the fullest extent permitted by applicable law, you bear full responsibility for any losses arising from your usage of the Website and its Services, 
                    encompassing any downloads from the Website. 
                    Neither we nor our Team shall be held liable for any indirect, punitive, special, or consequential damages, irrespective of the circumstances, 
                    even if such damages arise from negligence or we were informed of their potential occurrence. 
                    Our collective liability concerning all claims made regarding the Service in a given month shall not exceed the total amount paid for that month's Service 
                    (or, if paid annually, the prorated monthly cost).</p>

                <h3>16. No Warranty</h3>
                <p>To the maximum extent allowable by law, we offer the content on the Website and its associated Services 'as is.' 
                    This implies that we do not provide any warranties, whether express or implied, encompassing but not limited to warranties of merchantability or fitness for a particular purpose. 
                    It's important to note that we do not assert:
                </p>
                <ul>
                    <li>Guarantees about the timeliness, security, uninterrupted nature, or error-free access to the Website (including any third-party applications or payment platforms on the Website);</li>
                    <li>Assurances that any deficiencies present on the Website will be rectified;</li>
                    <li>Claims regarding the accuracy, currency, completeness, or usefulness of any information disclosed on the Website;</li>
                    <li>Assertions that the Website or its hosting server are free from viruses or other potentially harmful components.</li>
                    <li>As clients utilize ttPlayers for diverse purposes, we cannot assure that it will cater to your specific needs.</li>
                </ul>

                <h3>17. Indemnity</h3>
                <p>
                    You agree to compensate and protect us, as well as our Team, from any losses, including legal fees, arising from your assertions or claims that are deemed impermissible under these Terms due to a 'Limitation of Liability' or similar provisions. 
                    Additionally, you commit to indemnify us and shield us from any losses, including legal fees, resulting from third-party claims indicating that you or someone utilizing your password engaged in actions that, 
                    if proven true, would contravene any aspect of these Terms.
                </p>

                <h3>18. Legal Fees</h3>
                <p>
                    If we initiate legal action against you, alleging a violation of these Terms, and we succeed, we reserve the right to seek reimbursement for reasonable legal expenses, along with any damages or other remedies granted to us.
                </p>

                <h3>19. Liquidated Damages</h3>

                <p>In certain instances, a breach of these Terms might result in damages that are challenging to quantify accurately. Consequently, such breaches will incur predetermined liquidated damages, 
                    serving as a reasonable estimate of the potential harm:
                </p>
            
                <ul>
                    <li>If you send emails violating anti-Spam laws, the liquidated damages will amount to five times the total payment made to us in the past 12 months, with a minimum threshold of $1000.</li>
                    <li>Failure to settle an outstanding amount within thirty (30) days following receipt of a late payment notice will result in liquidated damages amounting to three times the total payment made to us in the past 12 months, 
                        not falling below $500 plus the overdue amount.</li>
                    <li>For instance, scenarios where our IPs get blacklisted or our deliverability decreases due to a breach of spam laws might prompt us to pursue liquidated damages, given the inherent difficulty in quantifying such losses.</li>
                </ul>

                <h3>Disclaimers</h3>

                <p>
                    The Website might feature connections to external websites and incorporates content contributed either by us or by unrelated third parties. We do not endorse, sponsor, 
                    or validate any content available on linked external websites. Both we and our Team bear no responsibility for the actions of advertisers, linked websites, or other Clients.
                </p>
                    
                <p>Thank you for reviewing and abiding by the Terms and Conditions of ttPlayers.com.au. If you have any questions or require clarification, please contact our support team.</p>
            </div>
        </div>
    </div>
</section>

<app-gym-footer></app-gym-footer>