.gym {
    h2{
        font-size:4em;
        color:#fff;
        font-weight: 200;
    }

    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.9);
        width:30%;
    }

    .website-link {
        color:#fff;
        text-decoration: underline;
    }
}