<!-- <div class="row friend-detail" [ngClass]="{'highlight': player.Id== yourPlayerId}" *ngIf="player">
    <div class="col-1 rank friend-detail-label">
         <div [innerHTML]="getSvg(player, rank)"></div>
    </div>
    <div class="col-3 friend-detail-label">
        <i id="gender-ico" class="fa" aria-hidden="true" [ngClass]="{'blue-text fa-male': player.Gender == 'M', 'red-text fa-female': player.Gender == 'F'}"></i>&nbsp;
        <a href="/player/{{player.Id}}">{{player.FirstName}} {{player.LastName}}</a>
        <br/>
        {{toRating(player)}}
    </div>    
    <div class="col-1 text-center friend-detail-label">{{player.YearToDateWins / (player.YearToDateWins+player.YearToDateLoses) | percent }}</div>
    <div class="col-2 text-center friend-detail-label"><span class="green">{{player.TotalWins}}</span>/{{player.TotalPlayedMatches}}</div>
    <div class="col-2 text-center friend-detail-label"><span class="green">{{player.TotalBeatPlayersCount}}</span>/{{player.TotalOpponentCount}}</div>
    <div class="col-2 text-center friend-detail-label" [ngClass]="{'green':player.RatingChangesQuarterly>0, 'red':player.RatingChangesQuarterly<0}">{{player.RatingChangesQuarterly>0?"+"+player.RatingChangesQuarterly:player.RatingChangesQuarterly}}</div>
    <div class="col-1 text-center friend-detail-label"><a class="red remove-friend" (click)="remove_friend(player)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a></div>
</div> -->

<div class="card" [ngClass]="'player-'+rank" [ngClass]="{'highlight': player.Id== yourPlayerId}" *ngIf="player" (click)="playerClick($event, player.Id)">
    <div class="card-body">
        <div class="d-flex">
            <div class="m-ranking">{{rank}}</div>
            <div class="name-svg" [innerHTML]="nameInitialSvg"></div>
            <h2 class="full-name">
                {{player.FullName}} 
                <div class="m-state">{{player.State}}</div>
            </h2>
            <div class="m-rating">{{rating}}</div>
            <div class="m-win-rate">Win {{player.YearToDateWins / (player.YearToDateWins+player.YearToDateLoses) | percent }}</div>
            <div class="m-remove">
                <a class="red remove-friend" (click)="remove_friend($event, player)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>